<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name/>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <listener>  
        <listener-class>lut.gp.jbw.listener.InitListening</listener-class>  
    </listener>
    <servlet>
        <servlet-name>InnerSearch</servlet-name>
        <servlet-class>lut.gp.jbw.control.InnerSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InnerSearch</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoURL</servlet-name>
        <servlet-class>lut.gp.jbw.control.GoURL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoURL</servlet-name>
        <url-pattern>/go</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Paging</servlet-name>
        <servlet-class>lut.gp.jbw.control.Paging</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Paging</servlet-name>
        <url-pattern>/paging</url-pattern>
    </servlet-mapping>
</web-app>
