*{
    margin:0;
    padding:0;
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#all{
    position:absolute;
    /* height:1700px; */
    width:100%;
}

#heads{
    position:fixed; 
    margin-top:0px;
    height:60px;
    width:100%;
    border-bottom:1px solid #ccc;
    background-color:#fff;
    z-index:100;
    box-shadow: #666 0px 0px 10px;
}

#imm{
    margin-left:-20px;
}

#con{
    position:fixed; 
    height:32px;
    width:500px;
    margin-left:115px;
    font-size:16px;
    text-indent:4px;
    margin-top:-44px;
}

.btn{
    position:fixed; 
    height:38px;
    margin-left:630px;
    font-size:18px;
    margin-top:-44px;
    background-color: hsl(207, 68%, 53%);
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    vertical-align: top;
    outline: none;
    border: 0;
    line-height: 29px;
    padding: 5px 10px;
}

#bodys{
    /* position:absolute; */
    min-height: 580px;
    margin-top:80px;
}

#sorry{
    margin-top:35px;
    margin-left:100px;
    color:#666;
    font-size: 22px;
}

.kw{
    color:#f00;
    font:12px/20px arial,sans-serif;
}

.tkw{
    color:#f00;
    font-size:18px;
}

#tips{
    margin-left:120px;
    color:#ccc;
    font-size:12px;
    margin-top:-2px;
}

#rcon{
    margin-left:120px;
    margin-top:15px;
}

.ha1{
    font-size:18px;
}

.ha2{
    color:#000;
    font:12px/20px 宋体,sans-serif;
}

.ha3{
    color:#5f3;
    font-size:12px;
}

#page{
    /* position:absolute; */
    /* margin-top:1600px; */
    /* margin: 0 auto; */
    padding-left: 124px;
    margin-top: 50px;
    margin-bottom: 35px;
    /* width: 100%; */
    font:18px/20px arial,sans-serif;
}

#bott{
    /* position: fixed; */
    /* margin-top: 60px; */
    bottom: 0;
    font-size:16px;
    height:50px;
    width: 100%;
    border-top:1px solid #ccc;
    background-color:#ccc;
}

#bcon{
    /* margin-left:500px; */
    color:#999;
    margin: 17px auto 0 10px;
    text-align: center;
    /* width: 800px; */
}
